.allLogin {
  margin: 0;
  padding: 0;
  background: transparent;
  font-family: "Source Sans Pro", sans-serif;
}





.login {
  padding: 10px;
  width: 200px;
  min-height: 400px;
  margin: 0 auto 0 auto;
}
.heading {
  text-align: center;
  margin-top: 1%;
  margin-top: 100px;
}
.heading h2 {
  font-size: 3em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding-bottom: 50px;
  text-shadow: 1px 1px 3px;
}

form span{
   
    background:transparent ;
    min-width: 53px;
    border: none;
  }

  form input.form-control {
    padding: 10px;
    font-size: 1.6em;
    width: 100%;
    background: transparent;
  }


.float {
  margin-top: 20px;

  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
}

/* Small Devices, Tablets */
@media (max-width: 600px) {
  .login {
    margin-top: 0;
    width: 200px;
    font-size: 1.3em;
    min-height: 0;
  }
}
