.all {
  background-color: transparent;
}

table,
th,
td {
  color: gray;
  border: 0.5px solid gray;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
table {
  margin: 10% 10% 1% 10%;
  width: 80%;
}

i {
  color: black;
  width: 20%;
}

.imgThumb {
  width: 4vw;
  margin-top: 3px;
}

textarea {
  background-color: white;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: -8%;

  margin-top: 5%;
}

.AdminAddBtn,
.AdminDeleteBtn,
.AdminSubmitBtn {
  border-radius: 10px;
  background-color: white;
  color: gray;
  /* border: none;  */
  width: 100px;
}

.bkg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -2;
}

.allTables {
  padding-top: 10px;
}

.AdminAddBtn {
  margin-left: 10%;
  width: 100px;
  padding-bottom: 1px;
}

.AdminSubmitBtn {
  max-width: 80%;
  padding-bottom: 1px;
  justify-self: center;
}

#AdminForm table {
  background-color: rgba(107, 164, 172, 0.9);
  color: black;
  margin-top: 20px;
}

#AdminForm table th {
  color: rgb(48, 48, 48);
}

.UploadedImg {
  width: 100px;
  height: 100px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Question_Mark.svg/1200px-Question_Mark.svg.png%22");
}

@media (max-width: 600px) {
  .allTables {
    overflow-x: auto;
  }
}
