.wrapContact {
  display: flex;
  flex-direction: row;

  margin-top: 5vw;
  padding: 0px 5% 0px 5%;
  color: white;
  opacity: 0.9;
}

.contact-form {
  width: 60%;
  margin-top: 3%;
}

.wrapContact img {
  padding-bottom: 5%;
  object-fit: fill;

  max-height: 600px;

  max-width: 800px;
  opacity: 0.8;
}

header {
  font-weight: 500;
  font-size: 60px;
}
.input {
  background-color: white;
  /* border: none; */
  color: black;
  margin-bottom: 3%;
  border: none;
  size: 100px;
  width: 75%;
  height: 2rem;
}

.inputMessage {
  height: 100px;
  width: 75%;
}
.titleMessage {
  height: 40px;
  font-size: large;
  margin-top: 4%;
  margin-bottom: -3%;
}

::-webkit-input-placeholder {
  font-style: italic;
  font-size: larger;
}

.form {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
}
.sendBtn {
  width: 4rem;
  height: 1.5rem;
  font-weight: 700;
  background-color: white;
  color: rgb(80, 80, 80);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: none;
}

.input::placeholder {
  font-size: larger;
  color: gray;
  padding-left: 1.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 600px) {
  .wrapContact {
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
    height: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 10%;
    padding-left: 15%;
    padding-right: 0%;
    padding-bottom: 5%;
  }

  .ContactBody::before {
    content: "";
    background: url("Contact_Img.jpg");
    opacity: 0.5;

    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
  }

  .wrapContact img {
    display: none;
  }
}
